<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RustRcon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFD927741F71A25F007ED855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD9278B1F71A25F007ED855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD927961F71A25F007ED855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
